/* minimalist-tableview.css */

/* Estilo para la TableView */
.table-view {
                -fx-background-color: white;
                -fx-border-color: lightgrey;
                -fx-border-width: 1;
                -fx-font-family: "Arial";
                -fx-font-size: 14px;
            }
            .table-view .column-header-background {
                -fx-background-color: #f0f0f0;
            }
            .table-view .column-header, .table-view .filler {
                -fx-border-width: 0 0 1 0;
                -fx-border-color: lightgrey;
            }
            .table-view .cell {
                -fx-border-width: 0 0 1 0;
                -fx-border-color: lightgrey;
                -fx-padding: 5px;
            }